
body{
    background-color: #efefef;
}
#admin_person{
    float: right;
    height: 100%;
}
#admin_info{
    position: relative;
    float: left;
    margin-top:20px;
    padding: 0px 20px;
}
#admin_profile_name{
    color: #FFF;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}
#admin_profile_name>span{
    background-color:#368ab3;
    padding: 0px 4px;
    border-radius: 4px;
}
#admin_profile_img{
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 8px;
}
.admin_person_button{
    float: left;
    width: 80px;
    padding: 0px 10px;
    height: 100%;
    position: relative;
    border-left:1px solid rgba(255,255,255,0.15);
}
#admin_message>span{
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: #db4b4b;
    color: #FFF;
    padding: 0px 6px;
    border-radius: 9px;
    font-size: 10px;
    line-height: 18px;
}
.admin_click>img{
    position: absolute;
    top:28px;
    left:28px;
}
.admin_click{
    overflow: hidden;
    cursor: pointer;
    line-height: 80px;
    position: relative;
    
}
#admin_person .iconfont{
    font-size: 28px;
    color: #FFF;
    text-align: center;
}
#admin_person .admin_click::before{
    background-color:#41a0dd;
}
.admin_click::before{
    content: "";
    width: 0px;
    height: 0px;
    opacity: 0;
    position: absolute;
    left:50%;
    top:50%;
    margin-left:0px;
    margin-top:0px;
    display: block;
    border-radius: 50%;
    transition: all 0.2s linear;
}
.admin_click:hover::before{
    content: "";
    width: 300px;
    height: 300px;
    opacity: 1;
    left:50%;
    top:50%;
    margin-left:-150px;
    margin-top:-150px;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.admin_click:hover{
    background-color: rgba(255,255,255,0.2);
}
#admin_panel{
    min-height: 700px;
}
#admin_panel_menu{
    width: 240px;
    min-height: 700px;
    padding-bottom: 40px;
    background-color: #f6f6f6;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
#admin_panel_operation{
    left: 0px;
    top: 0px;
    min-height: 700px;
    margin-left:240px;
    background-color: #fff;
}
#admin_panel_menu .admin_click::before{
    background-color:rgba(65, 160, 221,0.8);
}

.menu{
    width: 100%;
    height: 60px;
    line-height:60px;
    color: #586376;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    padding-left: 60px;
}
.menu.seleted{
    color: #FFF;
    background-color:rgba(65, 160, 221,1);
    box-shadow:inset 0px 0px 5px rgba(0,0,0,0.2);
}
.line{
    border-top:1px solid rgba(0,0,0,0.1);
    margin: 2px 20px;
}
.menu>.iconfont{
    font-size: 24px;
}
.menu>span{
    position: relative;
    vertical-align: middle;
    padding: 3px;
}
.menu:hover{
    color: #FFF;
}

#admin_panel_operation>div{
    padding: 20px;
}

.title{
    color:#3e3e3e;
}
.titlebig0{
    font-size: 32px;
    margin-right:5px;
}
.titlebig1{
    font-size: 30px;
    margin-right:5px;
}
.title0{
    font-size: 24px;
    margin-right:5px;
}
.title1{
    font-size: 20px;
    margin-right:5px;
}
.title2{
    font-size: 18px;
    margin-right:5px;
}
.title3{
    font-size: 16px;
    margin-right:5px;
}
.title4{
    font-weight: 700;
    font-size: 14px;
    margin-right:5px;
}
.title5{
    font-weight: 700;
    font-size: 12px;
    margin-right:5px;
}
.text{
    color:#3e3e3e;
}
.titlep0{
    font-size: 14px;
}
.titlep1{
    font-size: 12px;
}
#admin_panel_operation p{
    
}







/**
overview部分
*/


.cpu_core{
    display: inline-block;
    padding: 8px;
    background-color: #55ab80;
    margin: 4px;
    font-size: 0px;
}
.cpu_core>div{
    display: inline-block;
}
.cpu_core>div:first-of-type{
    min-width: 120px;
    float: left;
    margin-right: 16px;
}
.cpu_core>div:nth-of-type(2){
    float: left;
}
.cpu_core>.title{
    margin-bottom: 10px;
}
.cpu_core p{
    color:#FFF;
}
#overview_cpu>div{
}
#overview_cpu>.graph{
    height: 120px;
    margin:10px;
}
#overview_cpu>.status{
    margin-left:20px;
    margin-bottom:20px;
}
#overview_memory{
    margin-bottom: 20px;
}
#overview_memory>.graph:nth-of-type(1){
    height: 250px;
    width: 250px;
    display: inline-block;
    margin-left:20px;
}
#overview_memory>.graph:nth-of-type(2){
    height: 200px;
    width: 200px;
    display: inline-block;
}
#overview_space{
    margin-left:20px;
}
#overview_space>.graph{
    height: 250px;
    width: 420px;
}
.overview_hori{
    display: inline-block;
    vertical-align: top;
}
#overview_net>.graph{
    height: 120px;
    margin:10px;
}