*{
    margin:0px auto;
    padding: 0px auto;
    font-family: "微软雅黑",Microsoft YaHei,Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body{
    min-width: 1210px;
}
.center{
    position: relative;
    width:1210px;
    padding: 0px 10px;
}
#index_top{
    position: relative;
    background-color: #111111;
    height: 80px;
}
#index_top>.center{
    height: 100%;
}
#index_logo{
    width: auto;
    position: relative;
    display: inline-block;
    margin-top:16px;
}
#index_logo_text{
    position: relative;
    display: inline-block;
    color:#FFFFFF;
    vertical-align: top;
    top: 6px;
}
#index_login{
    background-color: #FFFFFF;
    background-image: url('../images/bg.png?');
    background-position: center top;
    height: 700px;
    background-repeat: repeat-x;
    overflow: hidden;
}
#index_footer{
    position: relative;
    padding: 20px;
}
#index_login .login_box{
    background-color:#FFFFFF;
    width:440px;
    height: 550px;
    margin-top:50px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
#index_login .login_notice{
    color:#365d75;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    margin: 10px 30px 30px 30px;
    border-bottom:3px solid #41a0dd;
}


.login_box input{
    border:1px solid rgba(0,0,0,0.2);
    outline: none;
    border-radius: 2px;
    width: 300px;
    font-size:16px;
    line-height: 24px;
    padding: 8px 12px;
    margin:10px 70px;
}
.login_box input:focus{
    border:1px solid #00a2ff;
}
.login_box .btn{
    border-radius: 2px;
    background-color: #41a0dd;
    color:#FFF;
    padding: 8px 12px;
    border: none;
    outline: none;
    font-size:16px;
    width: 300px;
    line-height: 24px;
    margin:10px 70px;
}
.login_box .btn:hover{
    background-color: #3991ca;
}
#captcha{
    width: 100%;
    margin: 5px 0px 10px 0px;;
}
#captcha .gt_slider{
    left:-15px;
    top:5px;
}