<div>
    <div class="selector">
        <div class="tab selected" name="任务概览">
            <div id="task_status">
                <div class="status">
                    <p>6</p>
                    <p>正在进行的任务</p>
                </div>
                <div class="status">
                    <p>8</p>
                    <p>结束的任务</p>
                </div>
                <div class="status">
                    <p>1</p>
                    <p>中断的任务</p>
                </div>
                <div class="status">
                    <p>2</p>
                    <p>可分配的任务</p>
                </div>
            </div>
        </div>
        <div class="tab" name="正执行任务">
            <h1>Page2</h1>
        </div>
        <div class="tab" name="已结束任务"></div>
    </div>
    <script>$.initSelector()</script>
</div>